<!DOCTYPE html>
<html lang="ru">
<body style="font-family: Arial, sans-serif; color: #333;">
<h2>Здравствуйте, {{name}}!</h2>
<p>
  Мы рады сообщить, что ваша регистрация партнёрского аккаунта в {{shopName}} успешно подтверждена. Теперь вы можете пользоваться всеми возможностями нашей партнёрской программы:
</p>

<ul>
  <li>Доступ к личному кабинету</li>
  <li>Участие в специальных акциях и предложениях для партнёров</li>
</ul>

<p><b>Ваши данные для входа:</b></p>
<ul>
  <li>Логин (email): {{email}}</li>
  <li>Пароль: {{password}}</li>
</ul>

<p>
  По соображениям безопасности рекомендуем при первом входе изменить пароль на собственный.<br />
  Войти в личный кабинет можно по ссылке: <a href="https://work-rc.ru/partners">https://work-rc.ru/partners</a>
</p>

<p>Если у вас возникнут вопросы — наша команда поддержки всегда готова помочь. Просто ответьте на это письмо или напишите нам на <a href="mailto:support@work-rc.ru">support@work-rc.ru</a>.</p>
<br/>
<p>Спасибо, что выбрали {{shopName}}. Мы уверены, что наше сотрудничество будет продуктивным и выгодным!</p>
<br />
<p>С уважением,<br />Команда {{shopName}}<br/> <a href="https://work-rc.ru">work-rc.ru</a></p>
</body>
</html>